h1 {
    font-size: 4.8rem;
    font-weight: 500;
}

h2 {
    font-size: 4.2rem;
    font-weight: 500;
}

h3 {
    font-size: 3.2rem;
    font-weight: 400;
}

h1,
h2,
h3 {
    line-height: 125%;
    letter-spacing: -1px;
}

.btn-header {
    display: inline-block;
    letter-spacing: .1rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem 4rem;
    border-radius: 50px;
    background: linear-gradient(var(--primary), var(--secondary));
    transition: .3s all;
    color: var(--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.142);
}


.btn-primary {
    display: inline-block;
    letter-spacing: .1rem;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 4rem;
    border-radius: 50px;
    background: linear-gradient(var(--primary), var(--secondary));
    transition: .3s all;
    color: var(--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.142);
}

.btn-header:hover,
.btn-primary:hover {
    transform: scale(1.1);
}