@media (max-width: 991px) {

    /* MENU */

    .header .menu {
        display: none;
        width: 60px;
        height: 60px;
    }
    
    .header nav label {
        display: flex;
        flex-direction: column;
    }
    
    .header .hamburguer {
        background-color: #000;
        position: relative;
        display: block;
        width: 30px;
        height: 2px;
        left: 15px;
        transition: 0.5s ease-in-out;
    }
    
    .header .hamburguer:before,
    .header .hamburguer:after {
      background-color: #000;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      transition: 0.2s ease-in-out;
    }
    
    .header .hamburguer:before {
      top: -10px;
    }
    
    .header .hamburguer:after {
      bottom: -10px;
    }
    
    .header input {
      display: none;
    }
    
    .header input:checked~label .hamburguer {
      transform: rotate(45deg);
    }
    
    .header input:checked~label .hamburguer:before {
      transform: rotate(90deg);
      top: 0;
    }
    
    .header input:checked~label .hamburguer:after {
      transform: rotate(90deg);
      bottom: 0;
    }
    
      .header .menu {
        display: block;
      }
    
      .header nav ul {
        display: none;
      }
    
      .header input:checked~ul {
        display: block;
      }
    
      .header nav {
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 1;
      }
    
      .header nav ul {
        width: 200px;
        background-color: #fff;
        padding: 20px;
      }
    
      .header nav ul a {
        text-align: center;
        padding: 20px;
        display: block;
      }
    
    
    .header {
        height: 150px;
    }

    .header .nav-menu {
        display: none;
    }

    .btn-header {
        display: none;
    }

    .header .logo img {
        width: 250px;
    }

    /* HOME */
    .home .container {
        flex-direction: column-reverse;
    }

    .home .home-text {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
    }

    .home .home-img {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* ABOUT */
    .about .container { 
        justify-content: center;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .about .cards {
        flex-direction: column;
        align-items: center;
    }

    .about .cards .card {
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 100%;
        width: 100%;
    }

    /* BLOG */
    .blog .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blog .posts {
        flex-direction: column;
        max-width: 100%;
    }

    .blog .posts .post {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        margin-top: 5rem;
    }

    .blog .posts .post span {
        font-size: 1.8rem;
    }

    .blog .posts .post h3 {
        font-size: 3.6rem;
    }

    .blog .posts .post p {
        font-size: 2rem;
    }

    .footer-content {
        flex-direction: column;
        max-width: 100%;
    }

    .content {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

}