@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&family=Palanquin:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

.header {
    height: 8rem;
    padding: 1rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--white);
    z-index: 1000;
    box-shadow: 0px 5px 15px 0px rgba(36, 35, 36, 0.132);
}

.header .container  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu-res {
    display: none;
}

.header .logo img {
    width: 150px;
}

.header .nav-menu .menu {
    display: flex;
    align-items: center;
}

.header .nav-menu .menu li a {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 1.5rem 2rem;
    color: var(--bg);
}

/* HOME */
.home {
    width: 100%;
}

.home .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home .home-text {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}

.home .home-text p {
    font-size: 1.6rem;
    font-weight: 400;
}

.home .home-img {
    width: 100%;
    max-width: 700px;
}

.home .home-img img {
    width: 600px;
}

.bg{
    background: url('../img/images/bg-intro-desktop.svg');
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
}

/* ABOUT */
.about {
    padding: 10rem 0;
    background-color: var(--light-gray);
}

.about p {
    font-size: 1.6rem;
    margin-top: 2rem;
    max-width: 650px;
}

.about .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.about .cards {
    margin-top: 10rem;
    display: flex;
    justify-content: space-between;
}

.about .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
    text-align: left;
    width: 33%;
    /* margin-left: 3rem; */
    padding: 2rem 1rem;
}

.about .card p {
    font-size: 1.6rem;
    font-weight: 400;
}

/* BLOG */

.blog {
    padding: 10rem 0;
}

.blog .posts {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog .posts .post {
    width: 100%;
    margin-left: 1rem;
    padding: 1rem;
    max-width: 25%;
}

.blog .post span {  
    margin: 2rem 0;
    display: inline-block;
    font-size: 1.4rem;
}

.blog .post p {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
}  

/* FOOTER  */
.footer {
    background-color: var(--bg);
    padding: 10rem;
    max-width: 100%;
}

.footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.footer .content .footer-logo {
    filter: brightness(100);
}

.footer .social {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin-top: 3rem;
}

.footer nav ul li {
    padding-top: 2rem;
}

.footer nav ul li a {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white);
}

.footer .footer-content .content:last-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.footer-content .content {
    max-width: 100%;
}

.footer .footer-content .content:last-child span {
    font-size: 1.6rem;
    color: var(--white);
    font-weight: 400;
}