
:root {
    --primary:  hsl(136, 65%, 51%);
    --secondary: hsl(192, 70%, 51%);
    --bg: hsl(233, 26%, 24%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(233, 8%, 62%);
    --light-gray:  hsl(220, 16%, 96%);
}